--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn[standard]
jinja2
pydantic
email-validator
python-multipart
sqlalchemy
passlib[bcrypt]
bcrypt==4.0.1
pyjwt
pillow
torch==2.10.0+cpu
torchvision==0.25.0+cpu
numpy
scipy
python-dotenv
opencv-python-headless
gunicorn
