--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn[standard]
jinja2
pydantic
python-multipart
sqlalchemy
alembic
passlib[bcrypt]
pyjwt
pillow
torch==2.2.2+cpu
torchvision==0.17.2+cpu
numpy
scipy
python-dotenv
opencv-python-headless
gunicorn